<!DOCTYPE html>
<html ng-app>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/node_modules/angular/angular.js"></script>
  </head>
  <body>
    <input ng-model="name" placeholder="Type world..."> Hello {{ name }}
    {{{body}}}
  </body>
</html>
